@import url('./globalStyles.css');
@import url('./buttons.css');
@import url('./modal.css');

span {
    color: var(--color-brand-1);
}

.app__header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-5);
    padding: 1.75rem 1rem;
    gap: 1.25rem;
}

.app__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.75rem 1rem;
    gap: 2.375rem;
}

.navbar__items {
    display: flex;
    gap: 14px;
}

.app__totalValue {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-grey-5);
    padding: 0.875rem 1rem;
    margin: 0 1rem;
    border: 1.5px solid var(--color-grey-4);
    border-radius: var(--radius-1);
}

.app__allValues {
    display: flex;
    flex-direction: column;
    margin: 1.75rem 1rem;
    gap: 1.25rem;
    list-style: none;
}

.allValues__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-grey-5);
    width: 100%;
    padding: 16px 0;
    border: 1.5px dashed var(--color-grey-3);
    border-radius: var(--radius-1);
    gap: 16px;
}

.allValues__empty > h3 {
    color: var(--color-grey-1);
}

.allValues__empty > p {
    color: var(--color-grey-2);
}

.allValues__empty:hover {
    background-color: var(--color-grey-4);
    cursor: pointer;
}

.allValues__empty.show {
    display: flex;
}

.allValues__empty.close {
    display: none;
}

.allValues__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-mode);
    padding: 0.5rem 1rem;
    border: 1.5px solid var(--color-grey-5);
    border-radius: var(--radius-1);
}

.allValues__item:hover {
    border: 1.5px solid var(--color-brand-1);
}

.item__buttons {
    display: flex;
    gap: 1.875rem;
}

.item__buttons > .btn--greylow {
    width: 80px;
}

@media (min-width: 769px) {
    .app__header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.75rem 30%;
    }

    .app__navbar {
        flex-direction: row;
        margin: 1.75rem 30%;
    }

    .app__totalValue {
        margin: 0 30%;
    }

    .app__allValues {
        margin: 1.75rem 30%;
    }
}